body {
    background: #31010b;
    display: flex; /* or css grid for more intricate layouts */
    flex-direction: column;
    align-items: center; justify-content: center;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;     
}
.grupo {
  width: 146px;
  float: left;
  margin-left: 0px;
  margin-right: 9px;
  text-align: left;
  border: 0px solid red;
  border-radius: 12px;
  padding: 5px;
}

.tabla {
  width: 100%;
  text-align: left;
  margin-left: 0px; 
  margin-right: auto;
}
.titulotabla2 {
    text-align: center;
    font-family: Verdana;
    background: #fff;
    color: #31010b;
    font-weight: 700;
    font-size: 15px;
    border: 1px solid white;
    border-radius: 6px;
}
.fila {
    font-family: Helvetica,Arial,sans-serif;
    font-weight: bold;
    color: #fff;
    background: #31010b;
    border-bottom: 1px solid white;
    border-collapse: collapse;
    font-size: 13px;
}
.fila_separadora {
    height: 7px;
}
.fila_remarcada {
    font-family: Helvetica,Arial,sans-serif;
    font-weight: bold;
    background: #fff;
    color: #31010b;
    border-bottom: 1px solid white;
    border-collapse: collapse;
    font-size: 13px;
}
.fila_elegida {
    font-family: Helvetica,Arial,sans-serif;
    font-weight: bold;
    background: green;
    color: #fcf;

    border-bottom: 1px solid white;
    border-collapse: collapse;
    font-size: 13px;

    box-shadow: 1px -1px 0px hsl(20%,92%,20%),
    2px -2px 0px hsl(20%,90%,20%);
}
.text {
    color: #f5f5f5;
    font-style: italic;

text-shadow: 1px 1px 1px #717171,
    1px 2px 1px #101080,
    1px 3px 1px #101078,
    1px 4px 1px #101076,
    1px 5px 1px #101074;
}
.caja {
    margin: 0px;
    padding: 0px;
    box-shadow: 1px 1px 0px hsl(33,42%,40%),
    2px 2px 0px hsl(33,42%,39%),
    3px 3px 0px hsl(33,42%,38%),
    4px 4px 0px hsl(33,42%,37%),
    5px 5px 0px hsl(33,42%,36%);
}
.caja_seleccion {
    box-shadow: 1px 1px 0px hsl(33,42%,40%),
    2px 2px 0px hsl(33,42%,39%);
}
.myButton {
    font-style: italic;
    background-color:green;
    border-radius:12px;
    border:2px solid #18ab29;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Verdana;
    font-size:15px;
    padding:2px 6px;
    text-decoration:none;
    text-shadow:1px 1px 1px #2f6627;
}
.myButton:hover {
    background-color:#20c020;
}
.myButton:active {
    position:relative;
    top:1px;
}